.text-white {
    color: white;
}
.font-lg {
    font-size: 2.5rem;
}
.font-l {
    font-size: 2rem;
}
.font-sm {
    font-size: 1rem;
}
.letter-space {
    letter-spacing: 2px;
}
.navbar-nav .nav-link:hover {
    transition: 0.2s;
    opacity: 1;
    border-right: 3px dotted white;
}
.navbar button:focus {
    border-color: orange;
}
.banner {
    background: rgba(0, 0, 0, 0.6) url(./images/home.jpg);
    background-position: center;
    background-blend-mode: darken;
}
/* LIST ICONS */
.banner .inner-left ul {
    list-style-type: none;
    padding-left: 0;
}
.banner .inner-left ul li i {
    font-size: 1.5rem;
    padding-right: 1rem;
}
.explore ul {
    list-style-type: none;
    padding-left: 0;
}
.explore ul li i {
    font-size: 1.5rem;
    padding-right: 1rem;
}
.create ul {
    list-style-type: none;
    padding-left: 0;
}
.create ul li i {
    font-size: 1.5rem;
    padding-right: 1rem;
}
.share ul {
    list-style-type: none;
    padding-left: 0;
}
.share ul li i {
    font-size: 1.5rem;
    padding-right: 1rem;
}
/* LIST ICONS END */
/* MEDIA */
@media screen and (max-width: 768px) {
.banner .inner-left {
    display: none;
}
}
/* MEDIA END */